<header class="header">
  <h1 class="site-title">
    Jason Lutterloh
  </h1>
  <ul class="links">
    <li class="links-item"><a class="link" target="_blank" rel="noopener"
        href="https://lutterloh.dev"><img src="/assets/globe.svg" alt="Website" /></a></li>
    <li class="links-item"><a class="link" target="_blank" rel="noopener"
        href="https://github.com/jasonlutterloh"><img src="/assets/github.svg" alt="GitHub" /></a></li>
    <li class="links-item"><a class="link" target="_blank" rel="noopener"
        href="https://codepen.io/jasonlutterloh"><img src="/assets/codepen.svg" alt="Codepen" /></a></li>
  </ul>
</header>