<title>{% if page.id %} {{page.title}} | {% endif %} {{site.title}}</title>

<meta property="og:title" content="Jason Lutterloh" />
<meta name="author" content="Jason Lutterloh" />
<meta property="og:locale" content="en_US" />
<meta name="description" content="Articles about web development, privacy, and more" />
<meta property="og:description" content="Articles about web development, privacy, and more" />
<link rel="canonical" href="https://blog.lutterloh.dev/" />
<meta property="og:url" content="https://blog.lutterloh.dev/" />
<meta property="og:site_name" content="{{site.title}}" />
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    {% if page.id %}
      "@type": "BlogPosting",
      "headline": "{{page.title}}",
      "description": "{{ page.excerpt  | remove: '<p>' | remove: '</p>'}}",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
      },
      "datePublished": "{{page.date}}",
      "dateModified": "{% if page.modified %}{{page.modified}}{% else %}{{page.date}}{% endif %}",
      "isAccessibleForFree": "True",
      "isPartOf": {
        "@type": ["CreativeWork", "Product", "Blog"],
        "name": "{{site.title}}",
        "productID": "lutterloh.dev"
      },
    {% else %}
      "@type": "Blog",
    {% endif %}
    "author": {
      "@type": "Person",
      "name": "{{site.author}}",
      "description": "{{site.author_description}}",
      "sameAs": "{{site.author_url}}",
      "image": {
          "@type": "ImageObject",
          "url": "{{site.author_image}}"
      },
      "givenName": "Jason",
      "familyName": "Lutterloh",
      "alternateName": "{{site.github_username}}"
    },
    "publisher":{
      "@type": "Organization",
      "name": "{{site.title}}",
      "description": "{{site.description}}",
      "sameAs": "{{site.url}}",
      "logo": {
          "@type": "ImageObject",
          "url": "{{site.logo}}"
      }
    },
    "image":{
      "@type": "ImageObject",
      "url": "{{site.logo}}"
    }
  }
</script>