  <title>{% if page.id %} {{page.title}} | {% endif %}{{site.title}}</title>
  <meta property="og:title" content="Jason Lutterloh" />
  <meta name="author" content="Jason Lutterloh" />
  <meta property="og:locale" content="en_US" />
  {% if page.id %}
  <meta name="description" content="{{ page.excerpt  | remove: '<p>' | remove: '</p>'}}" />
  <meta property="og:description" content="{{ page.excerpt  | remove: '<p>' | remove: '</p>'}}" />
  {% else %}
  <meta name="description" content="Articles about web development, privacy, and more" />
  <meta property="og:description" content="Articles about web development, privacy, and more" />
  {% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:site_name" content="{% if page.id %} {{page.title}} | {% endif %}{{site.title}}" />
  <script type="application/ld+json">
    {% if page.id %}
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "headline": "{{page.title}}",
      "description": "{{ page.excerpt  | remove: '<p>' | remove: '</p>'}}",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
      },
      "datePublished": "{{page.date}}",
      "dateModified": "{% if page.modified %}{{page.modified}}{% else %}{{page.date}}{% endif %}",
      "isAccessibleForFree": "True",
      "isPartOf": {%include seo_blog.json %},
      "author": {% include seo_person.json %},
      "publisher":{% include seo_organization.json %},
      "image": "{{page.image}}"
    }
    {% else %}
      {% include seo_blog.json %}
    {% endif %}
  </script>