---
layout: default
---
<article class="post h-entry">

  <header class="post-header">
    <h1 class="post-title p-name">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content e-content">
    {{ content }}
  </div>

  <p class="post-meta">
    Published on: 
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
    </time>
    </p>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
<a class="back-link" href="/">Back to Posts</a>